nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: wheat;
}

.List {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}
